In [10]:
import pandas as pd
import numpy as np
import sys
from scipy import sparse
#0 is good, 1 is bad.
from sklearn.metrics.pairwise import pairwise_distances

In [11]:
#reading in data
df = pd.read_csv('../data/priors_sample.csv')

# Filter data by reorders

for users that have re-ordered, what should they order next based on their order history

In [9]:
#Reorders only
reordered = df[df.reordered == 1]
reordered.head(1)

,Unnamed: 0,product_id,aisle_id,department_id,order_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,average_orders,average_order_dow,average_order_hour,weekend,rate_reordered,aisle_cat,dept_cat,product_cat
1,26,1,61,19,49769,4,1.0,45784,4,0,20,7.0,0.0,0.0,0.0,1,0.25,0,0,NaN

In [4]:
#reordered.drop(columns = ['Unnamed: 0'], inplace = True)

In [5]:
reordered.describe()

,Unnamed: 0,product_id,aisle_id,department_id,order_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,average_orders,average_order_dow,average_order_hour,weekend,rate_reordered,aisle_cat,dept_cat,product_cat
count,3.336810e+05,333681.000000,333681.000000,333681.000000,333681.000000,333681.000000,333681.0,333681.000000,333681.000000,333681.000000,333681.000000,333681.000000,333681.000000,333681.000000,333681.000000,333681.000000,333681.000000,333681.000000,333681.000000,291635.000000
mean,1.804222e+06,25651.859177,71.409373,9.736662,244838.556328,7.548590,1.0,78802.232941,22.019408,2.736161,13.345066,10.192471,0.880157,0.175912,0.878362,0.366997,0.058154,52.825998,7.858305,6.920610
std,1.033720e+06,14027.276396,38.246004,6.317398,141671.738063,6.575117,0.0,46349.294729,19.014998,2.082181,4.229684,8.167728,3.627680,0.707659,3.381653,0.481986,0.206042,34.928698,5.198627,5.153969
min,2.600000e+01,1.000000,1.000000,1.000000,5.000000,1.000000,1.0,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.098560e+05,13646.000000,31.000000,4.000000,121339.000000,3.000000,1.0,38431.000000,8.000000,1.000000,10.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.000000,3.000000,3.000000
50%,1.788066e+06,25072.000000,83.000000,7.000000,243900.000000,6.000000,1.0,78309.000000,16.000000,3.000000,13.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,48.000000,8.000000,5.000000
75%,2.694935e+06,37825.000000,107.000000,16.000000,367842.000000,10.000000,1.0,119466.000000,30.000000,5.000000,16.000000,14.000000,0.000000,0.000000,0.000000,1.000000,0.000000,75.000000,12.000000,13.000000
max,3.597575e+06,49686.000000,134.000000,21.000000,490940.000000,100.000000,1.0,159347.000000,99.000000,6.000000,23.000000,30.000000,26.750000,6.000000,21.333333,1.000000,1.000000,133.000000,20.000000,17.000000

In [6]:
pivot = reordered.pivot_table(index = 'product_name', 
                                columns = 'product_id', 
                                values = 'reordered')

pivot.head()

KeyError: 'product_name'

In [ ]:
pivot_sparce = sparse.csr_matrix(pivot.fillna(0))

In [ ]:
recommend = pairwise_distances(pivot_sparce, metric = 'cosine')
recommend

In [ ]:
recommend_df = pd.DataFrame(recommend, columns = pivot.index,
                           index = pivot.index)

recommend_df.head()

In [ ]:
#reordered.product_name[3000:4000]

In [ ]:
recommend_df['#4 Natural Brown Coffee Filters'].sort_values()[1:11]